en
conf t
no ip domain lookup
line console 0
 exec-timeout 0 0
 logging sync
 exit
hostname {{ hostname }}
ip domain-name {{ ip_domain_name }}
crypto key generate rsa general-keys modulus 4096
ip ssh version 2
username {{ username }} password {{ password }}
line vty 0 4
 transport input ssh
 login local
 exit
interface range {{ trunk_port_range }}
 switchport trunk encapsulation dot1q
 switchport mode trunk
 no shutdown
 exit
vlan {{ mgmt_vlan }}
 name MANAGEMENT
 exit
interface vlan {{ mgmt_vlan }}
 ip address {{ ip_address }} {{ subnet_mask }}
 no shut
 end
wr
